
table {
    width: 32%;
    height: 90%;
    position: absolute;
    top: 6%;
    left: 4%;
    /* border: 2px solid green; */
    display: inline-block;
    padding: 12px 12px;
    display: inline;
    margin: 2px 2px;
    /* border-collapse: collapse; */
}
td {
    width: 40px;
    height: 40px;
    border: 4px solid rgb(26, 34, 56);
    text-align: center;
    font-size: 16px;
}
input{
    width: 33px;
    height: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    /* display:none; */
}
.operation{
    position: absolute;
    top: 75%;
    left: 8%;
}
button{
    width:100px;
    height:49px;
    margin:6px;
    font-size: 1rem;
    font-weight: 700;
    /* border:2px solid black; */
    box-shadow: 0 5px 15px 0 rgb(26, 34, 56);
    border-radius:8px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(26, 34, 56);
    color:white;
}
.instruction{
    background-color: white;
    position: absolute;
    top: 45%;
    right:4%;
    transform: translateY(-50%);
    width:50%;
    height:70%;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgb(26, 34, 56);
}
h1{
    text-align: center;
    font-size: 2.2rem;
}
.show{
    position:absolute;
    top:0;
    width: 28%;
    height:30%;
    border-radius:10px;
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}
@keyframes jump {
    from{
        top:0
    }
    to{
        top:50%;
    }
}
.text{
    width:66%;
    margin:60px 200px;
    font-size: 1.2rem;
    font-weight: 700;
}

input{
    cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
